In [3]:
%%time
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay,accuracy_score,recall_score,precision_score,f1_score

import pickle

df_orginal = pd.read_csv("Churn_Modelling.csv")
df_orginal.head()

CPU times: total: 2.06 s
Wall time: 3 s

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
%%time

df_orginal = df_orginal.drop(['Gender', 'CustomerId', "Surname", "RowNumber"], axis=1)
df_orginal.head()

CPU times: total: 15.6 ms
Wall time: 3 ms

,CreditScore,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,41,1,83807.86,1,0,1,112542.58,0
2,502,France,42,8,159660.80,3,1,0,113931.57,1
3,699,France,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,43,2,125510.82,1,1,1,79084.10,0

In [3]:
%%time
churn_df = pd.get_dummies(df_orginal, drop_first=True)
churn_df.head()

CPU times: total: 15.6 ms
Wall time: 8 ms

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1

In [4]:
%%time
# Train Test split
y = churn_df['Exited']
X = churn_df.copy()
X = X.drop(['Exited'], axis=1)
X_train,x_test, y_train, y_test = train_test_split(X,y,random_state=42,stratify=y,test_size=0.25)

CPU times: total: 15.6 ms
Wall time: 15 ms

In [5]:
# %%time
# cv_params = {'max_depth': [2,3,4,5, None],
#              'min_samples_leaf' : [1,2,3],
#              'min_samples_split': [2,3,4],
#              'max_features': [2,3,4],
#              'n_estimators': [75,100,125,150]
#             }

# rf = RandomForestClassifier(random_state=0)
# scoring = {'accuracy', 'recall', 'precision', 'f1'}
# rf_cv = GridSearchCV(rf, cv_params, scoring=scoring, cv=5, refit='f1')
# rf_cv.fit(X_train,y_train)

In [6]:
# rf_Cv is the name
path = './'
with open(path + "rf_cv_model.pickle", 'wb') as to_write:
    pickle.dump(rf_cv,to_write)

NameError: name 'rf_cv' is not defined

In [ ]:
with open(path + "rf_cv_model.pickle", 'rb') as to_read:
    rf_cv = pickle.load(to_read)

In [ ]:
rf_cv.best_params_

In [ ]:
rf_cv.best_score_

In [ ]:
results = pd.DataFrame(columns=[])

def make_results(model_name, model_object):

     # Get all the results from the CV and put them in a df.
    cv_results = pd.DataFrame(model_object.cv_results_)

    # Isolate the row of the df with the max(mean f1 score).
    best_estimator_results = cv_results.iloc[cv_results['mean_test_f1'].idxmax(), :]

    # Extract accuracy, precision, recall, and f1 score from that row.
    f1 = best_estimator_results.mean_test_f1
    recall = best_estimator_results.mean_test_recall
    precision = best_estimator_results.mean_test_precision
    accuracy = best_estimator_results.mean_test_accuracy

    # Create a table of results.
    table = pd.DataFrame()
    table = table.append({'Model': model_name,
                          'F1': f1,
                          'Recall': recall,
                          'Precision': precision,
                          'Accuracy': accuracy},
                         ignore_index=True)

    return table

result_table = make_results("Random Forest Model", rf_cv)

result_table

In [ ]:
result_table.to_csv("results", sep=',', index=False, encoding='utf-8')

In [15]:
results_new = pd.read_csv("results")

In [16]:
results_new

                 Model        F1    Recall  Precision  Accuracy
0  Random Forest Model  0.580529  0.472517   0.756289  0.861333

In [11]:
x_tr,x_vl, y_tr,y_vl = train_test_split(X_train, y_train, test_size=0.2, stratify=y_train, random_state=10)

In [13]:
split_index = [0 if x in x_vl.index else -1 for x in y_train.index]

In [26]:
%%time

from sklearn.model_selection import PredefinedSplit

cv_params = {'max_depth': [2,3,4,5, None],
             'min_samples_leaf' : [1,2,3],
             'min_samples_split': [2,3,4],
             'max_features': [2,3,4],
             'n_estimators': [75,100,125,150]
            }
rf_new = RandomForestClassifier(random_state=0)
new_scoring = {"accuracy", "precision", "recall", "f1"}
custom_split = PredefinedSplit(split_index)

rf_val = GridSearchCV(rf_new,cv_params, scoring=new_scoring,cv=custom_split,refit="f1")

CPU times: total: 0 ns
Wall time: 2 ms

In [27]:
%%time

rf_val.fit(X_train,y_train)

CPU times: total: 4min 55s
Wall time: 5min 8s

GridSearchCV(cv=PredefinedSplit(test_fold=array([-1,  0, ..., -1, -1])),
             estimator=RandomForestClassifier(random_state=0),
             param_grid={'max_depth': [2, 3, 4, 5, None],
                         'max_features': [2, 3, 4],
                         'min_samples_leaf': [1, 2, 3],
                         'min_samples_split': [2, 3, 4],
                         'n_estimators': [75, 100, 125, 150]},
             refit='f1', scoring={'accuracy', 'recall', 'precision', 'f1'})

In [28]:
path = "./"

with open(path + "rf_cv_model_optimized_2.pickle", 'wb') as to_write:
    pickle.dump(rf_new,to_write)

In [15]:
path = "./"
with open(path + "rf_cv_model_optimized_2.pickle", 'rb') as to_wite:
    rf_mod=pickle.load(to_wite)

In [14]:
path = "./"
with open(path + "rf_cv_model.pickle", 'rb') as to_wite:
    rf_mod=pickle.load(to_wite)

EOFError: Ran out of input